body{
    margin: 0;
}
li{
    text-decoration: none;
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}

header{
    margin:0px 40px;
}
.header_Wapper{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.headBox_left{
    display: flex;
}
h1{
    margin: 0px 0px 0px 20px;
}
nav{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
nav>ul{
    display: flex;
    
}
nav>ul>li{
    margin-left: 80px;
}
.headBox_right{
    display: flex;
}
.util_Box{
    display: flex;
    align-items: center;
}
.util_Box >*{
    margin-right: 20px;
}
.util_Box>img{
    width: 30px;
    height: 30px;
}
.login_Box{
    display: flex;
    align-items: center;
}
.login_Box>*{
    margin-left: 20px;
}